/* @media screen and (max-width:950px) {
    .features-Section1-Bg-Left >img,.features-Section1-Bg-right>img{
        display: none;
} */
@media screen and (max-width:980px){
    .features-Section1-Bg-right,.features-Section1-Bg-Left{
        display: none;
    }
    }
    
/* ------------------section1--------------------------- */
.section-1-features{
    margin-bottom: 100px;
    /* border: 1px solid black; */
}
.features-Section1-Bg-Left>img{
    position: absolute;
    top: 230px;
    z-index: 0;
    /* border: 1px solid black; */
}
.features-Section1-Bg-right>img{
    position: absolute;
    /* border: 1px solid red; */
    top: 230px;
    right: 0;
    z-index: 0;
}
.features-Section1-TextPart{
    /* text-align: center; */
    color: #063C4D;
    margin-left: 400px;
    /* background-color: black; */
    z-index: 1;
    width: 40%;
    margin: auto;
    margin-top: 250px;
    /* border: 1px solid red;  */
    text-align: center;
    /* height: 200px; */
}
.features-Section1-TextPart>h1{
    font-size: 62px;
    margin-bottom: 40px;
    font-weight: 600;
}
.features-Section1-TextPart>p{
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
    font-weight: 600px;
    color: #85959a;;
}
.get-Started{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #fed265;
    font-family: "Circular Std", sans-serif;
    color: #0a3947;
    font-weight: 600;
    border: none;
}
.get-Started:hover{
    background-color: #FFC740;
}
.section-1-features>hr{
    width: 80%;
    opacity: 0.5;
    margin: auto;
    margin-top: 200px;
}


/* ------------------SECTION-2------------------- */
.features{
    margin-bottom: 200px !important  
}
/* -------------------SECTION-3------------------ */
.section-3-features{
    background-color: #F4FBFC;
}
.section-3-fetures-box{
    display: flex;
    height: 800px;
}
.section-3-features> h2{
   text-align: center;
   font-size: 38px;
   width: 37%;
   line-height: 1.5;
   margin: auto;
   height: 150px;
   margin-top: 10%;
   padding-top: 100px;
   margin-bottom: 100px;
}

.section-3-left-png{
    display: flex;
    width: 70%;
    margin-left: 200px;
    margin-top: 30px;
    padding: 40px;
    background-color: white;
}
.section-3-left-png >div{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
}
.section-3-left-png-img{
    margin-left: 20px;
}

.features-section3-rightImg>img{
width: 80%;
height: 500px;
margin-top: 30px;
margin-left: 100px;
}


.have_que{
    font-size: 24px;
    color: #0a3947;
    margin-top: 100px;
    text-align: center;
}
.chat-icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: #00D586;
    margin-bottom: 5px;
}
.chat-icon>i{
    margin-right: 20px;
}
.chat-icon>p{
    text-decoration: underline;
}
/* -------------------section-7---------------------- */
.section-7-features{
    height: 560px;
}
.section-7-features>h3{
    /* border: 1px solid black; */
    width: 600px;
    line-height: 1.5;
    text-align: center;
    height: 150px;
    margin: auto;
    color: white;
    /* margin-top: 100px; */
    padding-top:150px;
    font-size: 38px;
    justify-content: center;
}
.get-started-featues-section-7{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #fed265;
    font-family: "Circular Std", sans-serif;
    color: #0a3947;
    font-weight: 600;
    border: none;
    margin-left: 650px;
    margin-top: 150px;
}
/* ---------------section-11-------------------- */
.section-11-features>h3{
    width: 35%;
    padding-top: 200px;
}

/* section-4 */
.have-question{
    text-align: center;
    margin-left: 40%;
    margin-top: 80px;
    font-size: 20px;
    border: 1px solid black;
}

#feature-testimonial-heading{
    font-size: 22px;
    line-height: 40px;
    
}
/* -------------section5--------------- */

.section-5-features{
    /* border: 1px solid black; */
    height: 900px;
    margin-top: 150px;
    /* padding: 200px; */
}
.features-section-4{
    /* border: 1px solid black; */
    width: 85%;
    padding: 50px 0;
    margin:150px auto;
    height: 400px;

}
.features-section-5-rightImg{
    /* border: 1px solid black; */
    width: 500px;
    height: 70% !important;
    margin-left: 80px;
}
/* feature- section-8 */
.features-8{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
#feature-setion-8-left-img>img:nth-child(1){
   
    margin-left: 110px;
    padding: 20px;
   
}
#feature-section-8-testimonial-heading{
    font-size: 23px;
    line-height: 35px;
}
#feature-autor-name{
    font-size: 22px;
   
}
.feature-ready-btn{
border-radius: 100px;
  background-color: #fff;
  box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
  padding: 15px 30px;
  margin-right: 12px;
  color: #063c4d;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  width: 180px;
  margin: auto;
  padding: 18px;
  border: 1px solid rgb(202, 200, 200);
  margin-top: -50px;
}
.feature-ready-btn:hover{
   background-color: #ffd265;
}
.feature-ready-btn-link{
     font-size: 16px;
  text-decoration: none;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.637);
}
/* -------------SECTION-9-------------------- */

#feature-section-9{
    margin: auto;
    background-color: #F4FBFC;
}
.features-section-9-textPart {
    width: 45%;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}
.features-section-9-textPart > h2{
    text-align: center;
    font-size: 40px;
    margin:  auto;
    width: 500px;
    line-height: 55px;
    padding-top: 100px;
}
.features-section-9-textPart>p{
    color: #576f76;
    font-size: 18px;
    text-align: center;
     margin: auto;
    margin-top: 30px;
    width: 500px;
    line-height: 40px;
    margin-top: -1px;
   
}
.feature-section-9-card{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 70% !important;
    height: 300px;
    margin-top: 50PX;
    justify-content: center;
    
}
.feature-section-9-card > div{
    width: 18% !important;
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around !important;
    
}


.feature-section-9-card > div{
   padding-left: 30px; 
    padding-right: 30px; 
     padding-top: 5px; 
     padding-bottom: 10px;  
     border: 1px solid rgb(211, 208, 208);
     margin-left: 30px;
    align-items: center;
    height: 90px;
    border-radius: 20px;
     background-color: rgb(255, 251, 251); 
}
.feature-section-9-card > div> img{
    margin-top: 10px;
}

.feature-primary-btn {
  border-radius: 100px;
  background-color: #ffd265;
  box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
  padding: 15px 25px;
  margin-right: 12px;
  color: #063c4d;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  width: 180px;
  margin: auto;
  padding: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.feature-primary-btn-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.637);
}


