*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: 'Circular Std', sans-serif;
color: #063c4d;
font-size: 14px;
line-height: 20px;
font-weight: 400;
overflow-x: hidden;
overflow-y: scroll;

}
li{
    list-style: none;
}
/* Top-navbar CSS */

.top-navbar{

display: flex;
justify-content:flex-end;
align-items: center;
padding: 20px 0px;
margin-right: 20px;
margin-left: auto;

}

.top-nav-links{
padding-right: 16px;
padding-left: 16px;
color: #85959a;
font-size: 15px;
text-decoration: none;
}
.login-link{
color: black;
}

a{
    text-decoration: none;
}

/* Css for hovers */
.main-nav-links:hover,
.top-nav-links:hover,
.submenu-links:hover {
  color: rgb(0, 213, 134);
}
.main-nav-list li:hover > .submenu {
  visibility: visible;
}

.primary-btn:hover {
  background-color: rgb(255, 199, 64);
}

/* Main-navbar css */
.main-navbar{
background-color: white;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 10px;
z-index: 10000;
}
.main-logo-box{
    margin-left: 20px;
}
.main-nav-list li{
padding-bottom: 15px;
}

.primary-btn{
border-radius: 100px;
background-color: #ffd265;
box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
padding: 15px 25px;
margin-right: 12px;
color: #063c4d;
font-size: 18px;
line-height: 20px;
font-weight: 500;
text-align: center;
width: 140px;
}
.main-nav-links{
text-decoration: none;
color: #063c4dc5;
font-weight: 550;
font-size: 16px;
margin: 0px 10px;
}

.primary-btn-link{

font-size: 16px;
text-decoration: none;
font-weight: 550;
color: rgba(0, 0, 0, 0.637);
}
.main-navbar ul{
display: flex;
}

/* Css for menu dropdown fuction */
.submenu{
position:absolute;
visibility: hidden;
display: flex; 
flex-direction: column;
padding: 20px 10px 20px 30px;
border-style: solid;
border-width: 1px;
border-color: #dae2e3;
border-radius: 16px;
background-color: #fff;
box-shadow: 1px 1px 7px  grey;
padding: 20px;
margin-top: 13px;

}
#solutions-sub{
    
    display: grid;
    grid-template-columns: repeat(2,50%);
    width: 400px;
    gap: 10px;
}
#solutions-sub .submenu-links{
line-height: 1;
}
.submenu-links{
font-size: 15px;
line-height: 1.1;
font-weight: 540;
color: #063c4d;
}


/* -----------section1----- */
p {
    margin-bottom: 10px;
    color: #576f76;
    font-size: 18px;
    line-height: 30px;
}

.price-head{
    text-align: center;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 54px;
    font-weight: 550;
}
.pricing-sec1 p{
    text-align: center;
    margin-bottom: 10px;
    color: #576f76;
    font-size: 18px;
    line-height: 30px;
}


.plan-btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.plan-btn-cont h1{
color: #576f76;
font-size: 22px;
line-height: 28px;
font-weight: 700;
}
.pricing-sec1{
  padding-top: 110px;
  padding-bottom: 260px;
  background-color: rgb(245,252,253);
 
 
}
/* .pricing1{
     background-image: url("../img/pricing-s1-bg1.svg");
    background-position:top left ;
    background-repeat: no-repeat;;
z-index: 1;
} */


.switch-box{
    width: 80px;
    height: 40px;
    margin-right: 18px;
    margin-left: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 100px;
    background-color: #00d586;
    cursor: pointer;
}
.switch-btn{
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: inset 0 0 6px 0 rgb(0 213 134 / 20%), 1px 1px 4px 0 rgb(23 31 44 / 14%);
    float: right;
    margin-top: 2px;
}
.pricing-badge h3{
    color: white;
}
/* ----------Section-2---------- */
.pricing-sec2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -120px;
    
}
.pricingplans-title{
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 28px;
    font-weight: 550;
}
.pricing-badge {
    margin-left: 10px;
    padding: 7px 19px;
    border-radius: 100px;
    background-color: #00d586;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    top: -7px;
}
.titleandpopular{
    display: flex;
    justify-content: space-between;
   
}


.pro-title{
    color: rgb(0,213,134);
}
.pricing-card:nth-child(2){
    position: relative;
    top: -70px;
}
.pricing-card{
  margin: 10px;
  flex-basis: 30%;
  margin-top: -40px;
        padding: 50px 40px 55px;
        border-style: solid;
        border-width: 1px;
        border-color: #dae2e3;
        border-radius: 26px;
        background-color: #fff;
        box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
    
}
.pricing-sec2 span{
    color: #85959a;
    font-size: 16px;
    line-height: 18px;

}

.p-user{
    margin-bottom: 15px;
}
.p-user+p{
    margin-bottom: 24px;
}
.pricedollar{
    display: flex;
    margin-bottom: 10px;
    /* font-size: 38px; */
    line-height: 54px;
    font-weight: 500;
    align-items: center
}
.pricedollar span{
    margin-top:13px;
    margin-left: 6px;
}
.bulletandP{
    display: flex;
}
.price-btn{
    /* background-color: pink; */
    width: 100%;
}
#pricing2{
    margin-top: -100px;
}
.pricing-card hr{
    margin: 44px 0px;
}
#secondary-btn{
    background-color: transparent;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.048);
}
#secondary-btn:hover{
    background-color: #ffd265;
box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
}
.mgt-100{
    margin-top: 100px;
}
.bullet-icon img{
    height: 18px;
    width: 18px;
   
}
.bullet-icon{
   margin-top: 5px;
    width: 18px;
    margin-right: 10px;
}
.pricing-sec2bg1{
   
    position:absolute;
    left: -30px;
    top: 340px;
    
}
.pricing1,.pricing3{
    z-index: 2;
}
.pricing-sec2bg2{
   
    position:absolute;
    right: 0px;
    top:640px
}

/* ------------------SECTION-3------------------ */
.section-2 {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    height: 70px;
  }
  
  .section-2 > h2 {
    text-align: center;
    color: #063c4d;
    font-family: "Circular Std", sans-serif;
    font-size: 24px;
    font-weight: 550;
  }
  
  .section-2 > div {
    /* display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-color: #fff;
    color: #444;*/
    margin-top: 50px;
    /* min-width: 350px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .box > img {
    width: 140px;
  }
  
  /* ---------------SECTION4------------ */
.pricing-sec4{
    background-color: rgb(244,251,252);
    margin-top: 130px;
    padding: 30px;
    padding-bottom: 130px;
}
.p-sec4-head{
    text-align: center;
    padding-top: 150px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 54px;
    font-weight: 500;
}
.sec4-card1{
   display: flex;
   justify-content: flex-end;
        padding: 50px 40px 55px;
        border-style: solid;
        border-width: 1px;
        border-color: #dae2e3;
        border-radius: 26px;
        background-color: #fff;
        box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
        margin-top: 100px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        /* width: 90%;
        margin: auto; */
}
.sec4-c1-btns,.sec4-c1-h{
    display: flex;
    justify-content: space-evenly;
 

}
.sec4-c1-btns{
    width: 85%;
    margin: auto;
    margin-top: 40px
}
/* .sec4-c1-h{
    justify-content: ;
} */

 .sec4-c1-box{
   width: 75%;
} 
.sec4-c1-btns> div{
padding: 20px;
width: 170px;
}
.pricing-feautures{
    border-top: 1px solid #dae2e3;
    border-bottom: 1px solid #dae2e3;
    background-color:rgb(245,249,250);
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
   
}
.f-head{
   padding: 20px 0px;
   margin-left: 10px;
   margin-bottom: 0px;
   font-size: 22px;
   line-height: 30px;
}

/* -------PRICING TABLE--------- */
.pricing-table{
    display: grid;
    padding-right: 0px;
    padding-left: 35px;
    grid-column-gap: 0px; 
    grid-template-columns: 1.65fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid #dae2e3;

    width: 100%;
    
          /* padding: 50px 40px 55px; */
          border-style: solid;
          border-width: 1px;
          border-color: #dae2e3;
          border-bottom-right-radius: 26px;
          border-bottom-left-radius: 26px;

          background-color: #fff;
          box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
}
.pricing-table img{
    width: 35px;
    height: 34px;
   

}

.ptp,.pth{
    text-align: center;
    
}
.pth{
    margin-top: 8px;
    font-size: 38px;
}
.ptp{
    margin-top: 70px;
    color: rgb(0,213,134);
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;

}
.pth+.sec4-card1{
margin-top: 50px;
}



.price-checkbox{
    padding: 35px 20px;
    color: #576f76;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dae2e3;
}
.price-c1{
    max-width: 270px;
    color: #576f76;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dae2e3;

}
.price-c3{
    /* background-color: rgb(244,251,252); */
    background-color: rgba(220, 248, 238, 0.3);;
}

.comparisonbg1{
    position: relative;
    top: 1000px;
   
}
.indianrsdiv{
    display: grid;
    display: grid;
    padding-right: 150px;
    padding-left: 35px;
    grid-column-gap: 0px; 
    grid-template-columns: 1.65fr 1fr 1fr 1fr;
    grid-template-rows: auto;
 border-style: solid;
          border-width: 1px;
          border-color: #dae2e3;
          border-bottom-right-radius: 26px;
          border-bottom-left-radius: 26px;

          background-color: #fff;
          box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
}

/* --------from get started part---- */
/* section-4 */
#section-4-get-started{
    /* border: 1px solid black; */
    height: 200px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
   
}
#section-4-get-started > div{
    width: 890px;
    /* border: 1px solid black; */
    width: 200px;
    margin: auto;
    
   
}
#section-4-get-started > div > div:nth-child(1){
    text-align: center;
    /* border: 1px solid black; */
    width: 100px;
   margin-top:0;
   /* margin-bottom: 100px; */
}
#section-4-get-started >h1{
    text-align: center;
    font-size: 45px;
     color: #063c4d;
     width: 400px;
     /* border: 1px solid black; */
     margin: auto;
     margin-top: 50px;
}

/* section-5 */
#section-5{
    width: 1220px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  
}
#section-5 > div{
    max-width: 30%;
    margin: 1%;
    padding: 60px 20px 20px 30px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 20px;
    cursor: pointer;
    /* border: 1px solid black; */
}

#section-5 > div:hover{
    margin-top: -0.5%;
    transition: top 0.2 ease;
    position: relative;
    
}
#section-5 > div >p{
    line-height: 30px;
     color: #576f76;
     font-size: 20px;
     font-weight: 500;
     font-family: "Circular Std",sans-serif,;
    
}
.card{
    padding: 50px 40px 55px;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 26px;
    background-color: #fff;
    box-shadow: 4px 4px 14px 0 rgb(8 15 52 / 4%);
}

strong{
     color: #063c4d;
     font-size: 20px;
}
#section-5 > div > div{
    display: flex;
    margin-top: 50px;
}
#section-5 > div > div> img{
    width: 20%;
}
#section-5 >div >div > div{
    margin-top: 10px;
    margin-left: 10px;
}
.text-span{
    color:#31ded4; ;
}
.user-name{
     color: #063c4d;
     font-size: 20px;
}
.user-post{
    color: #576f76;
    opacity: 0.7;
    font-weight: 600;
}